.terraform*
full.tfvars
backend.tfvars
integration.tfvars
*.tfstate*
*-lock.json
*.zip
tfplan
website/public/
website/resources/
website/.hugo_build.lock
website/assets/jsconfig.json
node_modules/
dist/
.astro/
npm-debug.log*
.env
.env.*
!.env.example
coverage/
!package-lock.json